* Import fonts */
@import url('../fonts/Roboto.css');

/* Reset and normalize */
@import url('../css/normalize.css');

$mainOrange: rgb(238, 92, 75);

* {
  margin: 0px;
}

html {
  font-size: 3vw;
}

body {
  font-family: 'Roboto';

}

.bodyDiv {
  margin: auto;
  width: 66.6%;
  display: flex;
  flex-direction: column;
  position: relative;


}

a {
  color: black;
  text-decoration: none;
}

header {
  width: 100%;
}

.topOfHeader {
  display: flex;
  justify-content: space-between;
  margin: 10px 0px 14px 0;
}

header h1 {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 1.3em;
  font-weight: 700;
  color: white;
  text-shadow: 2px 1px 0 black, -1px -1px 0 red;
  margin: 0px;
  padding: 0px;
}

header h1:hover {
  color: darkgray;

}

.searchForm {
  width: 50%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: stretch;
  justify-content: space-between;

}

.searchForm:hover {
  width: 60%;
}

.inputArea {
  width: calc(100% - 2.5rem);
  padding-left: 3%;
  font-size: 0.4rem;
  border: solid 1px darkgray;
  height: 1.2rem;
}

.button {
  background: white;
  font-weight: 550;
  border: solid 1px $mainOrange;
  color: $mainOrange;
}

.searchButton {
  margin-left: 10px;
  width: 3rem;
  font-size: 0.5rem;
  height: 1.2rem;
}

.searchButton:hover {
  color: white;
  background-color: $mainOrange;
}


.addTeacherButton a {
  text-decoration: none;
  color: $mainOrange;
}

.bottomOfHeader {
  display: flex;
  flex-direction: row;
  height: 2rem;
  align-items: center;
  justify-content: space-between;

}

.menu {
  display: flex;
  align-self: center;
  width: 60%;
}

.menu ul {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 0.6rem;
}

.menu ul li a {
  color: $mainOrange;
}

.menu ul li a:hover {
  color: rgb(158, 64, 6);
}

.addTeacherButton {
  width: 30%;
  font-size: 0.5rem;
  height: 1.2rem;
}

.addTeacherButton:hover {
  color: white;
  background-color: $mainOrange;

  a {
    color: white;
  }
}

hr {
  align-self: center;
  width: 50%;
  border-color: black;
}

h2 {
  font-size: 1rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

.topTeachersContainer {
  display: flex;
  flex-direction: column;
}

.filtersContainer {
  display: flex;
  flex-direction: row;
}

.filtersContainer div {
  padding-right: 0.3rem;
  margin-right: 0.5rem;
  display: flex;
  flex-direction: row;
  border-right: 1px dotted rgb(60, 60, 60);
}

.filtersContainer div:last-child {
  border: 0px;
}

.filtersContainer div label {
  padding-right: 0.1rem;
  color: darkgray;
  align-self: center;
  font-size: 0.4rem;
}

.filtersContainer div label:hover {
  color: black;
}

.filtersContainer select {
  align-self: center;
  color: rgb(60, 60, 60);
  padding: 0.05rem;
  font-size: 0.5rem;
  height: 1rem;
}

.filtersContainer select option {
  color: rgb(60, 60, 60);
}

.filtersContainer div input {
  width: 0.4rem;
  margin-right: 0.4rem;
}
#clearSearchButton{
  margin: 10px 0px;
  display: flex;
}

.teachersCardsContainer {
  margin: 20px 0px 10px 0;
  width: 100%;
  display: grid;
  row-gap: 15px;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.photo {
  width: 3.6rem;
  height: 3.6rem;
  display: flex;
  align-self: center;
  border-radius: 100%;
  border: solid 2px $mainOrange;
  overflow: hidden;
}

.star {
  width: 1.5rem;
  position: absolute;
  right: 2%;
  top: 0%
}

.noPhoto {

  width: 3.6rem;
  height: 3.6rem;
  display: flex;
  align-self: center;
  border-radius: 100%;
  overflow: hidden;
  width: 3.6rem;
  height: 3.6rem;
  display: flex;
  align-content: center;
  border: solid 2px $mainOrange;
}

.noPhoto p {
  width: 100%;
  height: 100%;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

}

.personPhoto:hover {
  transform: scale(1.4);
}

.photo:hover {
  border: solid 3px rgb(158, 64, 6);
}

.noPhoto:hover {
  border: solid 3px rgb(158, 64, 6);
}

.noPhoto p:hover {
  transform: scale(1.2);
}

.nameText,
.surnameText {
  font-size: 0.6rem;
  font-weight: 650;
}

.subjectText {
  margin: 3px 0px 2px 0px;
  font-size: 0.5rem;
  color: lightgray;
}

.countryText {
  font-size: 0.5rem;
  color: rgb(42, 37, 36);
}

.roundedPhoto {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 7rem;
}

.statisticsTable tbody tr:nth-child(even) {
  background-color: #efe5ef;
}

.statisticsTable tbody td {
  width: 20%;
  padding: 4px 0px 4px 0px;
}

.statisticsTable tbody td:first-child {
  text-align: left;
  padding-left: 15px;
}

.statisticsTable {
  width: 100%;
  font-size: 0.5rem;
}

.statisticsTable thead {
  border-bottom: solid 2px darkgray;
}

.statisticsTable thead th:hover {
  background-color: lightgray;
  border-bottom: solid 3px black;

  .tableArrow {
    visibility: visible;
  }
}

.tableArrow {
  visibility: hidden;
  display: inline-flex;
  transition: transform 0.3s;
}


.statisticsTable thead th {
  padding: 2px;
}

.underTableList {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
}

.underTableList li {
  font-size: 0.5rem;
  margin: 4px;
  color: rgb(143, 187, 207);
}

.underTableList li:hover {
  color: blue;
}

#carouselOfTeacherCards {
  position: relative;
  width: 100%;
}

.overflow {

  width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
  display: flex;
  flex-direction: row;
  position: relative;
  gap: 0 10px;
  min-height: 7rem;
}

#carouselOfTeacherCards .arrowButton img {
  opacity: 60%;
  height: 3rem;
  width: 1rem;
}

#carouselOfTeacherCards .arrowButton img:hover {
  opacity: 100%;

}

#carouselOfTeacherCards .arrowButtonLeft {
  position: absolute;
  top: 1.5rem;
  left: -1.4rem;
}

#carouselOfTeacherCards .arrowButtonRight {
  position: absolute;
  top: 1.5rem;
  right: -1.4rem;

}

#carouselOfTeacherCards .roundedPhoto {
  height: 6rem;
}


.paragraphOfText>article {
  text-align: left;
  font-size: 0.6rem;
}

footer {
  margin: 20px 0px 30px 0px;
}

.footerContainer {
  display: flex;
  flex-direction: row;
  height: 2rem;
  align-items: center;
  justify-content: space-between;

}